@model CatalogoApp.Domain.Models.Usuario
@{
    ViewData["Title"] = "Registro";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4 form-container">
        <h2 class="text-center mb-4">Crear Cuenta</h2>

        <div asp-validation-summary="All" class="text-danger mb-3 text-center fw-bold"></div>

        <form asp-action="Registro" method="post">
            <div class="form-floating mb-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="nombre@ejemplo.com" required />
                <label asp-for="Email">Correo Electrónico</label>
            </div>
            <div class="form-floating mb-4">
                <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" required />
                <label asp-for="Password">Contraseña</label>
            </div>
            <button type="submit" class="btn btn-primary w-100 btn-lg custom-btn">Registrarse</button>
        </form>

        <div class="text-center mt-4">
            <a asp-action="Login" class="text-decoration-none" style="color: #89b4fa;">¿Ya tienes cuenta? Inicia sesión aquí</a>
        </div>
    </div>
</div>